<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cc.fastcv.libs.app">

    <application>

        <activity android:name=".LibsMainActivity" />
        <activity android:name=".logger.LoggerActivity" />
        <activity android:name=".local_data_store.SharedPreferencesActivity" />
        <activity android:name=".local_data_store.LocalDataStoreActivity" />
        <activity android:name=".local_data_store.PreferencesDataStoreActivity" />
        <activity android:name=".local_data_store.ProtoDataStoreActivity" />
        <activity android:name=".view_model_event_bus.ViewModelEventBusActivity" />
        <activity android:name=".view_model_event_bus.LifecycleActivity" />

        <service android:name=".OtherProcessService" android:process=":other" />
    </application>

</manifest>